name: release .nupkg's

on:
  push:
    tags: 
        '*' 
permissions:
  contents: read

env:
  DOTNET_NOLOGO: true                     # Disable the .NET logo
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true # Disable the .NET first time experience
  DOTNET_CLI_TELEMETRY_OPTOUT: true       # Disable sending .NET CLI telemetry 
jobs:
  build:
    runs-on: macos-latest
    name: Build
    permissions:
      contents: write
    steps:
      - name: release file
        uses: actions/create-release@v1
        id: create_release
        with:
          draft: false
          prerelease: false
          release_name: ${{ github.ref }}
          tag_name: ${{ github.ref }}
          body_path: CHANGELOG.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
 
      - name: Checkout
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8

      - name: Setup .NET 9
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            9.0.x

      - name: Install MAUI Workload
        run: dotnet workload install maui --ignore-failed-sources
        
      - uses: actions/setup-java@v2
        with:
          distribution: 'microsoft'
          java-version: '17'
      
      - name: Download Android & iOS Artifacts
        run: |
          echo "Android ..."
          curl -L -o ./libpjsua2.maui.so.tar.gz https://github.com/weslleymurdock/libpjsua2-android/releases/download/v2.14.1.1/libpjsua2.tar.gz
          tar -xzvf libpjsua2.maui.so.tar.gz 
          mkdir -p ${{ github.workspace }}/src/libpjsua2.so/org/pjsip
          mkdir -p ${{ github.workspace }}/src/libpjsua2.maui.android/pjsua2
          mkdir -p ${{ github.workspace }}/src/libpjsua2.so/lib/
          mv -v ${{ github.workspace }}/home/runner/libpjsua2/lib/libpjsua2.maui.android/* ${{ github.workspace }}/src/libpjsua2.maui.android/pjsua2
          rm -rf ${{ github.workspace }}/home/runner/libpjsua2/lib/java/org/pjsip/pjsua2
          mv -v ${{ github.workspace }}/home/runner/libpjsua2/lib/java/org/pjsip/* ${{ github.workspace }}/src/libpjsua2.so/org/pjsip/
          mv -v ${{ github.workspace }}/home/runner/libpjsua2/lib/* ${{ github.workspace }}/src/libpjsua2.so/lib/
          echo "iOS ..."
          curl -L -o ./libpjsua2.maui.a.tar.gz https://github.com/weslleymurdock/libpjsua2-ios/releases/download/v2.14.1.1/libpjsua2.tar.gz
          tar -xzvf libpjsua2.maui.a.tar.gz
          mkdir -p ${{ github.workspace }}/src/libpjsua2.maui.ios/pjsua2
          mkdir -p ${{ github.workspace }}/src/libpjsua2.a/lib/arm64
          mkdir -p ${{ github.workspace }}/src/libpjsua2.a/lib/x86_64
          mv -v ${{ github.workspace }}/libpjsua2/lib/pjsua2maui/pjsua2/* ${{ github.workspace }}/src/libpjsua2.maui.ios/pjsua2
          mv -v ${{ github.workspace }}/libpjsua2/lib/arm64 ${{ github.workspace }}/src/libpjsua2.a/lib/arm64
          mv -v ${{ github.workspace }}/libpjsua2/lib/x86_64 ${{ github.workspace }}/src/libpjsua2.a/lib/x86_64

      - name: Restore Dependencies
        run: | 
          dotnet restore src/libpjsua2.maui.android/libpjsua2.maui.android.csproj
          dotnet restore src/libpjsua2.maui.ios/libpjsua2.maui.ios.csproj

      - name: Build MAUI Android
        run: dotnet publish src/libpjsua2.maui.android/libpjsua2.maui.android.csproj -c Release -f net9.0-android --no-restore
       
      - name: Build MAUI iOS
        run: dotnet publish src/libpjsua2.maui.ios/libpjsua2.maui.ios.csproj -c Release -f net9.0-ios --no-restore
      
      - name: Set VERSION variable from tag
        run: echo "VERSION=${GITHUB_REF/refs\/tags\/v/}" >> $GITHUB_ENV
      
      - name: Pack
        run: nuget pack src/libpjsua2maui.nuspec  -version "${VERSION}"
      
      - name: Push to nuget
        run: dotnet nuget push libpjsua2maui.${VERSION}.nupkg --source https://api.nuget.org/v3/index.json --api-key ${API_KEY} --skip-duplicate
        env:
          API_KEY: ${{ secrets.API_KEY }}

      # - name: release
      #   uses: actions/create-release@v1
      #   id: create_release
      #   with:
      #       draft: false
      #       prerelease: false
      #       release_name: ${{ github.ref }} 
      #       body_path: CHANGELOG.md
      #   env: 
      #       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
     
      - name: Get Name of Artifact
        run: |
          ARTIFACT_PATHNAME=$(ls *.nupkg | head -n 1)
          ARTIFACT_NAME=$(basename $ARTIFACT_PATHNAME)
          echo "ARTIFACT_NAME=${ARTIFACT_NAME}" >> $GITHUB_ENV
          echo "ARTIFACT_PATHNAME=${ARTIFACT_PATHNAME}" >> $GITHUB_ENV
    
      - name: upload .nupkg 
        uses: actions/upload-release-asset@v1
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
            upload_url: ${{ steps.create_release.outputs.upload_url }}
            asset_path: ${{ env.ARTIFACT_PATHNAME }}
            asset_name: ${{ env.ARTIFACT_NAME }}
            asset_content_type: application/zip